@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?zi7cfe');
  src:  url('fonts/icomoon.eot?zi7cfe#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?zi7cfe') format('truetype'),
    url('fonts/icomoon.woff?zi7cfe') format('woff'),
    url('fonts/icomoon.svg?zi7cfe#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e92f";
}
.icon-moon-circle:before {
  content: "\e92d";
}
.icon-uni-cut:before {
  content: "\e92e";
}
.icon-menu:before {
  content: "\e92c";
}
.icon-instagram-bg:before {
  content: "\e900";
}
.icon-mosque:before {
  content: "\e901";
}
.icon-xmark:before {
  content: "\e902";
}
.icon-youtube:before {
  content: "\e903";
}
.icon-share:before {
  content: "\e904";
}
.icon-sliders:before {
  content: "\e905";
}
.icon-telegram:before {
  content: "\e906";
}
.icon-twitter:before {
  content: "\e907";
}
.icon-user-heart:before {
  content: "\e908";
}
.icon-search:before {
  content: "\e909";
}
.icon-send:before {
  content: "\e90a";
}
.icon-islam-moon:before {
  content: "\e90b";
}
.icon-search-minus:before {
  content: "\e90c";
}
.icon-christian:before {
  content: "\e90d";
}
.icon-budda:before {
  content: "\e90e";
}
.icon-maximize:before {
  content: "\e90f";
}
.icon-phone:before {
  content: "\e910";
}
.icon-play-stroke:before {
  content: "\e911";
}
.icon-play:before {
  content: "\e912";
}
.icon-search-plus:before {
  content: "\e913";
}
.icon-map-pin:before {
  content: "\e914";
}
.icon-360:before {
  content: "\e915";
}
.icon-link:before {
  content: "\e916";
}
.icon-location-pin:before {
  content: "\e917";
}
.icon-location-plus:before {
  content: "\e918";
}
.icon-mail:before {
  content: "\e919";
}
.icon-earth-globe:before {
  content: "\e91a";
}
.icon-external-link:before {
  content: "\e91b";
}
.icon-eye:before {
  content: "\e91c";
}
.icon-file-copy:before {
  content: "\e91d";
}
.icon-flag:before {
  content: "\e91e";
}
.icon-house-medical:before {
  content: "\e91f";
}
.icon-instagram:before {
  content: "\e920";
}
.icon-pencil-ruler:before {
  content: "\e921";
}
.icon-uni:before {
  content: "\e922";
}
.icon-arrow-left:before {
  content: "\e923";
}
.icon-arrow-right:before {
  content: "\e924";
}
.icon-bolt:before {
  content: "\e925";
}
.icon-calendar:before {
  content: "\e926";
}
.icon-check:before {
  content: "\e927";
}
.icon-chevron-bottom:before {
  content: "\e928";
}
.icon-chevron-top:before {
  content: "\e929";
}
.icon-chevron-right:before {
  content: "\e92a";
}
.icon-chevron-left:before {
  content: "\e92b";
}
